<section class="footer-block">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>Partners</h5>
                <ul>
                    <li>Estudio Jurídico Internacional López-Ibor Y Asociados S.L.</li>
                    <li>Free Trade Zone Joy Trading Co. Ltd.</li>
                </ul>
            </div>
            <div class="col-sm">
                <h5>Contacto</h5>
                <ul>
                    <li>Teléfono: <a href='tel:5522278230'>55 2227 8230</a></li>
                    <li>Email: <a href='mailto:contacto@lomar.mx'>contacto@lomar.mx</a></li>
                </ul>
                <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#aviso-modal">
                    Aviso de Privacidad
                </button>
            </div>


            <div class="col-sm">
                <h5>Paginas</h5>
                <ul>
                    <% collections.pages.forEach((navPage) => { %>
                        <% if (!navPage.data || !navPage.data.title) return;%>
                        <li>
                            <a class="navigation-item<%- ` ${page.url === navPage.url && 'active'}` %>"
                               href="<%- navPage.url %>">
                                <%= navPage.data.title %>
                            </a>
                        </li>
                    <% }) %>
                    <% collections.servicios.forEach((navPage) => { %>
                        <% if (!navPage.data || !navPage.data.title) return;%>
                        <li>
                            <a class="navigation-item<%- ` ${page.url === navPage.url && 'active'}` %>"
                               href="<%- navPage.url %>">
                                <%= navPage.data.title %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>

